<div class="progressBar label-info">
    <div>
        <div class="barTitle">
            <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
            <span id="title">Install Progress</span>
        </div>
        <div id="waiting" class="barProgress">
            <div class="msgDiv">
                <span id="progressMsg" class="barMsg"></span>
            </div>
            <div id="progbar" class="bar">
            </div>
        </div>
        <div id="install" class="barProgress">
            <div class="msgDiv">
                <span id="fileMsg" class="barMsg"></span>
            </div>
            <div id="filebar" class="bar">
            </div>
            <div class="msgDiv">
                <span id="jarMsg" class="barMsg"></span>
            </div>
            <div id="jarbar" class="bar">
            </div>
            <div class="msgDiv">
                <span id="moduleMsg" class="barMsg"></span>
            </div>
            <div id="modulebar" class="bar">
            </div>
            <div class="msgDiv">
                <span id="productMsg" class="barMsg"></span>
            </div>
            <div id="productbar" class="bar">
            </div>
        </div>
        <!-- <div id="progDetail" class="barBottom">
            <a class="detail">Detail</a>
        </div> -->
    </div>
</div>